.form-group {
  margin: 10px;
}

input,
select {
  border: 1px solid #ccc;
  outline: none;
  padding: 8px 12px;
  border-radius: 4px;
}

button {
  border: none;
  outline: none;
  padding: 8px 12px;
  border-radius: 4px;
}
