<h2>hello world</h2>

<form [formGroup]="someForm" (ngSubmit)="handleSubmitForm()">
  <div class="form-group">
    <input
      [mask]="select.value !== 'PERCENT' ? 'comma_separator' : '0*,000'"
      [dropSpecialCharacters]="false"
      type="text"
      placeholder="input..."
      formControlName="price"
      maxlength="13"
    />
  </div>

  <div class="form-group">
    <select formControlName="unit" #select>
      <option value="VND">VND</option>
      <option value="PERCENT">%</option>
    </select>
  </div>

  <div class="form-group">
    <button>submit</button>
  </div>
</form>
